<footer class="c-footer">
  <div class="u-container c-footer__container">
    <div class="row">
      <div class="col-1">
        <ul>
          <h3>All Things (Red)</h3>
          <li>campaigns</li>
          <li>(Red)itorial</li>
          <li>faqs & contact</li>
          <li>press</li>
          <p>&copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
        </ul>
      </div>
      <div class="col-1">
        <ul>
          <h3>get involved</h3>
          <li>donate</li>
          <li>careers</li>
          <li>the one campaign</li>
        </ul>
      </div>
      <div class="col-1">
        <h3>stay connected</h3>
        <p>
          {% if site.twitterUsername %}<a href="https://twitter.com/{{ site.twitterUsername }}"><i class="fab fa-twitter"></i> </a>{% endif %}
          {% if site.githubUsername %}<a href="https://github.com/{{ site.githubUsername }}"><i class="fab fa-github"></i></a>{% endif %}
          {% if site.dribbbleUsername %}<a href="https://dribbble.com/{{ site.dribbbleUsername }}"><i class="fab fa-dribbble"></i></a>{% endif %}
          {% if site.codepenUsername %}<a href="https://codepen.io/{{ site.codepenUsername }}"><i class="fab fa-codepen"></i></a>{% endif %}
          {% if site.facebookUsername %}<a href="https://facebook.com/{{ site.facebookUsername }}"><i class="fab fa-facebook-f"></i></a>{% endif %}
          {% if site.meetupUsername %}<a href="https://meetup.com/{{ site.meetupUsername }}"><i class="fab fa-meetup"></i></a>{% endif %}
         </p>
      </div>
    </div>
  </div>
</footer>