/* ==========================================================================
   Footer
   ========================================================================== */
// styling for footer section 


footer{
  background-color : #2196F3;
  padding: 30px;
  color : #ffffff;
  box-sizing: border-box;
}

.c-footer__container{
  .row{
    width : 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    box-sizing: border-box;

    div{
      box-sizing: border-box;
      padding: 30px 100px;
      h3{
        font-size : 17px;
        text-transform: uppercase;
      }
       
      ul{
        margin : 0;
        li{
          list-style: none;
          font-size: 14px;
          margin-top : 15px;
          line-height: 1rem;
          text-transform: uppercase;
          letter-spacing: 1px;
          word-spacing: 0.5px;
        }

        p{
          margin-top : 20px;
          font-size : 14px;
        }
      }

      a{
        text-decoration: none;
      }

      p{
        margin-top : 10px;
        a{
          text-decoration: none;
          margin : 0px 5px;
          font-size: 25px;
          color : #ffffff;
        }

        a:first-child{
          margin-left : 0px;
        }
      }
    }
  }

  @media (max-width : 480px) {
    .row div{
      padding: 30px 0px !important;
    }
  }
}